<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>XLSX-FORMATTER</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="file1.css">
    <script type="text/javascript" th:src="@{/src/static/file2.js}"></script>
</head>

<body>

<header>
        <p><a id="home" href="/">Главная</a></p>
    <div>
        <p><a id="contacts" href="/contacts">Контакты</a></p>
    </div>
</header>

<main>

    <div class="container">
        <div id="addStudent">
            <a id="addStudent2" href="#openModal">Добавить студента</a>
        </div>
        <div id="openModal" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Добавление студента</h3>
                        <a href="#close" title="Close" class="close">×</a>
                    </div>
                    <div class="modal-body">
                        <form action="/" method="post">
                            <input type="hidden" name="command" value="add">
                            <input class="placeInput" type="text" name="firstName" placeholder="Имя">
                            <br>
                            <input class="placeInput" type="text" name="lastName" placeholder="Фамилия">
                            <br>
                            <input class="placeInput" type="text" name="faculty" placeholder="Факультет">
                            <br>
                            <input class="placeInput" type="date" max="2005-01-01" min="1921-01-01" name="dateOfBirth" placeholder="Дата рождения">
                            <br>
                            <input class="placeInput" type="text" name="age" placeholder="Возраст">
                            <br>
                            <input class="addButton" type="submit" value="Добавить">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div>
    <div th:each="el : ${users}" class="table">
    <table>
        <tr>
            <td>
             <span th:text="${el.firstName} + ' ' + ${el.lastName}"></span>
            </td>
            <td class="td2">
                <form action="/" method="post">
                    <input type="hidden" name="id" th:value="${el.id}">
                    <input type="hidden" name="command" value="remove">
                    <input class="editBTN" value="Удалить" type="submit">
                </form>
            </td>
        </tr>
        <tr>
            <td>Факультет: </td>
            <td th:text="${el.faculty}"></td>
        </tr>
        <tr>
            <td>Возраст: </td>
            <td th:text="${el.age}"></td>
        </tr>
        <tr>
            <td>Дата рождения: </td>
            <td th:text="${el.dateOfBirth}"></td>
        </tr>
    </table>
    </div>
</div>


</main>


<footer>
    <div>
        <p>This site was created by Ruslan K. 2021</p>
    </div>
</footer>

</body>
<!--<script type="text/javascript">
    function toggle_visibility(id) {
        var e = document.getElementById(id);
        if(e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
</script>-->

<!-- <div th:if="${lolka} != null">
        <h1> привет, как дела, потанцуем ?</h1>
    </div>-->


</html>